.header .logo a {
	color: #111;
	text-decoration: none;
	font-size: 30px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header ul li {
	display: inline-block;
}

.header ul li a {
	font-size: 16px;
	padding: 0 10px;
	color: #2a94d7;
	font-weight: 500;
}
